body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
        background-color: white;
        color: rgb(218, 27, 212);
        width:300px ;
        height: 360px;
        padding: 10px;
        border-radius: 5%;
}
div{
    color: rgb(174, 157, 174);
}
html{
   background-color: rgb(11, 229, 249);
}
#weatherInfo{
    background-color: white;
    color: black;
    width:300px ;
    height: 340px;
}
.img{
    height: 100px;
    width: 100px;
    background-color: slateblue;
}